<% @stories.each do |story| %>
<% if story.status == 3%>
  <br>
<b>Autor: </b> <label> <%= story.auth %> </label> <br>
<b>Tytuł:</b> <label> <%= story.title %> </label <br>
<p> <%= story.body %> </p>
<% if user_signed_in? %>
<% if current_user.admin? %>
<%= link_to "Archiwizuj",  {:controller => "stories", :action => "status_archive", :id => story}, class: "btn btn-small btn-primary" %>
<% end %>
<% end %>
<button data-toggle="collapse" data-target="#<%= story.id %>" class="btn-danger btn-small btn" > <%= story.comments.count  %> Komentarzy </button> <br>
<div id="<%= story.id %>" class="collapse">
<h3> Komentarze </h3>
<% story.comments.each do |comment|%>
<p> <%= comment.user.username %> napisał/a </p>
<p> <%= comment.content %> </p>
<% end %>
  <h3> Dodaj komentarz </h3>
  <%= form_for([story, story.comments.build]) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Dodaj" %>
  <% end %>
  </div>
    <hr style="width: 100%; height: 1px; background-color: #b6c4db;" />
  <% end %>
    <% end %>
