<h3> <%= @story.auth %> </h3> 
<h2> <%= @story.title %> </h2>
<p> <%= @story.body %> </p> <br>
<h2> <%= @story.comments.count %> Komentarzy </h2>
  <%= render @story.comments %>
  <h3> Dodaj komentarz </h3>
  <%= render 'comments/form' %>
