<!DOCTYPE html>


<html>
  <head>
    <title>StoriesWebApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nova+Flat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
     <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type = "text/css">
    body {
      color: purple;
      font-family: 'Josefin Sans', sans-serif;
      background-color: red; }

      .col-sm-6 {
          background-color: #42f4f4;}
          
      .col-sm-3 {
          }


    .navbar-inverse {
      background-color: #0be0e8;
      border-color: #ce0000; }

    .navbar-brand {
      padding: 0px;
      margin-bottom: 4px; }

    .navbar-nav  {
    font-family: 'Nova Flat', cursive;
    font-size: 25px;
    color: purple; }

    .navbar-nav > .active > a {
    background-color: red; }

    .navbar-nav > li:active {
    background-color: black; }

    .navbar-nav > li:hover {
    background-color: green; }

    .glyphicon {
    font-size: 120px; }

    .navbar-right {
      font-size:  20px;
      padding: 10px; }

    .glyphicon {
      font-size:  16px;
      color: blue; }

      #kom {
      background-color: green;
      color: white;
      font-size: 20px; }


    .nav>li {
    display: inline-block; }


    .btn-link {
    color: #008774;
    background-color: #42f4dc; }

    .btn:hover {
    background-color: #d3d3d3; }


    #welcome {
      color: #19382f;
      font-family: 'Nova Flat', cursive;
      font-size: 18px;
      margin-top: 3px;
      margin-right: 8px; }

    #drop {
      color: #008774;
      font-family: 'Nova Flat', cursive;
      background-color: #42f4dc; }

    #drop:hover {
      background-color: #d3d3d3; }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1; }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block; }

        .dropdown:hover .dropdown-content {
          display: block; }

        .dropdown {
          position: relative;
          display: inline-block; }
}

    </style>

  </head>

  <body>
    <nav id="nav_bar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"
       <%= link_to image_tag("opowiastki.png", alt: "logo"), '/', class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Start</a></li>
      <li><a href="/about">Poczekalnia</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Informacje <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">O stronie</a></li>
          <li><a href="#">Regulamin</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-right">
      <% if !user_signed_in? %>
      <%= link_to new_user_session_path, class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-log-in"></span> Zaloguj
      <% end %>

      <%= link_to new_user_registration_path , class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-plus"></span> Rejestracja
      <% end %>

      <% end %>

      <% if user_signed_in? %>
      <% if current_user.admin? %>
      <label id="welcome">KONTO ADMINISTRACYJNE</label>

      <%= link_to users_path,  class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon glyphicon-book"></span> Zarządzaj Użytkownikami
      <% end %>

      <%= link_to about_path,  class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-th"></span> Zarządzaj Treścią
      <% end %>

      <%= link_to destroy_user_session_path, :method => :delete, class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-log-out"></span> Wyloguj
      <% end %>

      <% end %>
      <% end %>


      <% if user_signed_in? %>
      <% if !current_user.admin? %>

      <label id="welcome">Witaj, <%= current_user.username %></label>

      <%= link_to new_story_path,  class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-pencil"></span> Napisz
      <% end %>


      <div class="dropdown">
        <button id="drop" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-stats"></span> Profil
        </button>
        <div class="dropdown-content">
          <%= link_to "Edytuj", edit_user_registration_path,  class: "btn btn-small btn-link" %>
          <%= link_to "Wyświetl", user_path(current_user.username),  class: "btn btn-small btn-link" %>
        </div>
      </div>


      <%= link_to new_story_path,  class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-stats"></span> Statystyki
      <% end %>

      <%= link_to destroy_user_session_path, :method => :delete, class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-log-out"></span> Wyloguj
      <% end %>

      <% end %>
          <% end %>
    </ul>

  </div>
</nav>
<div class="row">
 <div class="col-sm-3"></div>
 <div class="col-sm-6" style="overflow: scroll;  height:768px;">
       <%= yield %>
 </div>
 <div class="col-sm-3"></div>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
