<!DOCTYPE html>


<html>
  <head>
    <title>StoriesWebApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nova+Flat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type = "text/css">
    body {
      color: purple;
      font-family: 'Josefin Sans', sans-serif; }

    .navbar-inverse {
      background-color: #0be0e8;
      border-color: #ce0000; }

    .navbar-brand {
      padding: 0px;
      margin-bottom: 4px; }

    .navbar-nav  {
    font-family: 'Nova Flat', cursive;
    font-size: 25px;
    color: purple; }

    .navbar-nav > .active > a {
    color: red; }

    .glyphicon {
    font-size: 120px; }

    .navbar-right {
      font-size:  20px;
      padding: 10px; }

    .glyphicon {
      font-size:  16px;
      color: blue;
     }

    .nav>li {
    display: inline-block; }

    .btn {
    color: #008774;
    background-color: #42f4dc; }

    .btn:hover {
    background-color: #d3d3d3; }

}

    </style>

  </head>

  <body>
    <nav id="nav_bar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"
       <%= link_to image_tag("opowiastki.png", alt: "logo"), '/', class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Start</a></li>
      <li><a href="/about">Poczekalnia</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Informacje <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">O stronie</a></li>
          <li><a href="#">Regulamin</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-right">
      <% if !user_signed_in? %>
      <%= link_to new_user_session_path, class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-log-in"></span> Zaloguj
      <% end %>

      <%= link_to new_user_registration_path , class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-user"></span> Rejestracja
      <% end %>

      <% end %>

      <% if user_signed_in? %>
      <label> <%= current_user.name %> </label>
      <%= link_to new_story_path,  class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-pencil"></span> Napisz
      <% end %>

      <%= link_to destroy_user_session_path, :method => :delete, class: "btn btn-small btn-link" do %>
      <span class="glyphicon glyphicon-log-out"></span> Wyloguj
      <% end %>

      <% end %>
    </ul>

  </div>
</nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
